<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nazakat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo.png" rel="icon">
  <link href="static/assets/img/logo.PNG" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Parisienne&family=Playball&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- FONT AWESOME ICONS -->
  <script src="https://kit.fontawesome.com/1488469f06.js" crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.3.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{{ url_for('index') }}"> <span> <img src="static/assets/img/logo2.png" alt=""></span></a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Highlights</a></li>
          <li><a class="nav-link scrollto" href="#services">Articles</a></li>
          <li><a class="nav-link scrollto" href="#team">Doctors</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li><a class="getstarted scrollto" target="_blank" href="./period-tracker-gh-pages/index.html">Period Tracker</a></li>
          <li><a class="getstarted scrollto"  target="_blank" href="http://localhost:3001/#reload">Chatroom</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Gender Descrimination</h1>
          <h2>Gender discrimination describes the situation in which people are treated differently simply because they are male or female, rather than on the basis of their individual skills or capabilities. </h2>
          
          <div style="margin-bottom: 10px;">
          
          </div>
          </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://perspectivemag.co.uk/wp-content/uploads/2021/03/gender-equality-main.png" class="d-block w-100" alt="...">
          
          <!-- <img src="https://thumbs.dreamstime.com/b/motherhood-woman-baby-her-arms-breastfeeding-infant-baby-boy-flat-isolation-motherhood-woman-baby-her-arms-181395861.jpg" class="img-fluid animated" alt=""> -->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about about-inner">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-4 d-flex align-items-center justify-content-center about-img">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"  data-interval="4000" style="width: 1000px; height: 800px;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                   <iframe width="670" height="420" src="https://www.youtube.com/embed/UpgZ5PCuf8A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
                       </div>
                <div class="carousel-item">
                  <iframe width="670" height="420" src="https://www.youtube.com/embed/bGZbyUGm3vs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                  <iframe width="670" height="420" src="https://www.youtube.com/embed/nrZ21nD9I-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                <iframe width="670" height="420" src="https://www.youtube.com/embed/LdEAz3mjaSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
              <iframe width="670" height="420" src="https://www.youtube.com/embed/RZ76CCRhUWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
              <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->
            </div>
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0 shift">
            <h3 data-aos="fade-up" class="high">BASIC FACTS</h3>
            <p data-aos="fade-up" data-aos-delay="100">
                The following is a list of discriminatory acts you may come across among your peers, at home, at school or in the workplace.           </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="fas fa-book-reader" style="user-select: auto;"></i>
                <h4>Gender Inequality</h4>
               
              </div>
             
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="fas fa-book-reader" style="user-select: auto;"></i>
                  <h4>Sexual harassment, catcalling </h4>
                 
                </div>
                
                  <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <i class="fas fa-book-reader" style="user-select: auto;"></i>
                    <h4>Gender stereotypes at school and work</h4>
                  </div>
                  
                  
                 
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="fas fa-book-reader" style="user-select: auto;"></i>
                <h4>Stereotyped Gender Roles in Society</h4>
               
              </div>
            
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <i class="fas fa-book-reader" style="user-select: auto;"></i>
                  <h4>Objectification and poor representation</h4>
                  
                 
                </div>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
   
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Articles</h2>
          <p>Check out the great services we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">Gender Discrimination under the Constitution – I</a></h4>
              <p class="description">There are four cases decided by Indian High Courts that have addressed the issue of constitutionality of state supported all-male . ...<a href=" https://indconlawphil.wordpress.com/2015/05/18/guest-post-same-sex-schools-and-gender-discrimination-under-the-constitution-i/"> Read More</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">A Cultural Challenge</a></h4>
              <p class="description">The long-standing tradition in which girls are married very early, especially in rural areas, often to men much older gives rise to many pregnancy-related problems ...   <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4711229/">Read More</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">Objectification of women in india</a></h4>
              <p class="description">Girls have been taught since their childhood as to what is their expected role and behavior in society. ...   <a href="https://legaldesire.com/objectification-of-women-in-india-role-of-media-and-media-projections/">Read More</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">Catcalling Kills</a></h4>
              <p class="description">Also known as street harassment, catcalling is a form of harassment and open verbal abuse against mostly women and girls.,... <a href="https://www.garbo.io/blog/catcalling-street-harassment">Read More</a></p>
            </div>
          </div>
        
          


        </div>

      </div>
    </section>
    <section id="team" class="team" >
      
    <!-- End Services Section -->



    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What counts as catcalling? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
Catcalling is when an individual whistles, shouts, or makes sexual comments toward another individual as they are walking by.</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What are the gender issues in education in India? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                nd, this inequality between genders is more pronounced among lower-income families. In 2011, the disparity in access to education between genders was most visible in India's childhood literacy rates – 82% of boys were literate while only 65% of girls could read and write.             </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is the difference between catcalling and complimenting? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Another distinction is that compliments are generally addressed to friends and acquaintances, while catcalls only occur among strangers, usually in public settings.</p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What does it mean when a man objectifies you? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Can a husband objectify his wife?
New research finds that more objectification of a female partner's body is related to higher incidents of sexual pressure and coercion. To sexually objectify a woman is to focus on her body in terms of how it can provide sexual pleasure rather than viewing her as a complete human being with thoughts and feelings.s </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Does your face change during puberty? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Objectification occurs when one person treats another like a thing or commodity, ignoring his or her humanity and dignity. Objectifying a woman reduces her worth down to her physical appearance. </p>
            </div>
          </li>

          

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

   <!-- End Team Section -->

  

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Contact us the get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 style="font-size: 35px;">Nazakat</h3>
            <p style="font-size: 25px;">
              Kattankulathur<br>
              Chennai-603203 <br><br>
              <strong>Phone:</strong> 6392007344<br>
              <strong>Email:</strong> samy.53.ab@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 30px;">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 30px;">Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Breast Cancer Prediction and Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Cervical Cancer Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Chatroom</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">ChatBot</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Information pages for women of all ages</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 30px;">Our Social Networks</h4>
            <p style="font-size: 25px;">Our social networks' handles are given as follows</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright" style="font-size: 25px;">
        &copy; Copyright <strong><span>Nazakat</span></strong>. All Rights Reserved
      </div>
      <div class="credits" style="font-size: 25px;">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a style="font-size: 25px;">Team La Femme</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>