<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nazakat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo.png" rel="icon">
  <link href="static/assets/img/logo.PNG" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Parisienne&family=Playball&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- FONT AWESOME ICONS -->
  <script src="https://kit.fontawesome.com/1488469f06.js" crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.3.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{{ url_for('index') }}"> <span> <img src="static/assets/img/logo2.png" alt=""></span></a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Highlights</a></li>
          <li><a class="nav-link scrollto" href="#services">Articles</a></li>
          <li><a class="nav-link scrollto" href="#team">Doctors</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
        
          <li><a class="getstarted scrollto"  target="_blank" href="http://localhost:3001/#reload">Chatroom</a></li>
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Nutrition and Exercise During Pregnancy</h1>
          <h2>When it comes to your diet, plan balanced meals. They should contain protein, carbohydrates, fats, vitamins, and minerals. This is no time for fad or low-calorie dieting. In fact, as a general rule, you need to consume about 350-450 more calories per day your second and third trimesters than before you became pregnant..</h2>
          
          <div style="margin-bottom: 10px;">
          
          </div>
          </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://media.istockphoto.com/vectors/people-in-life-situations-vector-id1152421846?k=20&m=1152421846&s=612x612&w=0&h=4AeoD1G1TT-NfRu0Wzn8XXgW_0Bl3FeWStri4XF7Oes=" class="d-block w-100" alt="...">
          
          <!-- <img src="https://thumbs.dreamstime.com/b/motherhood-woman-baby-her-arms-breastfeeding-infant-baby-boy-flat-isolation-motherhood-woman-baby-her-arms-181395861.jpg" class="img-fluid animated" alt=""> -->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2 style="font-size: 35px;"> Communities </h2>
            <p>Select your group and get started.</p>
          </div>
      <div class="box-container">
      <div class="box-item">
      <div class="flip-box">
        <div class="flip-box-front text-center" style="background-image:linear-gradient(to top right,rgba(155, 90, 90, 0.2),rgba(0,0,0,0.8)), url('https://cdn.cdnparenting.com/articles/2017/12/604597427-H.jpg');">
          <div class="inner color-white">
            <h3 class="flip-box-header"> First <br> Trimister</h3>
            
            
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:linear-gradient(to top right,rgba(155, 90, 90, 0.2),rgba(0,0,0,0.8)), url('https://cdn.cdnparenting.com/articles/2017/12/604597427-H.jpg);">
          <div class="inner color-white">
            
            <p>At a tender age like this, every little issue seems big. Especially when you don't have anyone to go to. </p>
            <button class="flip-box-button"> <a href="{{ url_for('firsttrimister') }}"> Learn More</a></button>
          </div>
        </div>
      </div>
      </div>
      <div class="box-item">
      <div class="flip-box">
        <div class="flip-box-front text-center" style="background-image:linear-gradient(to top right,rgba(155, 90, 90, 0.2),rgba(0,0,0,0.8)), url('https://images.ctfassets.net/6m9bd13t776q/4b7D1OeW4PChnyiuApZjw/db367d15c4d1a8ccec0954425aee9f5a/exercise-pergnancy-healthy-baby-950x1152.jpg?q=75&w=475');" >
          <div class="inner color-white">
            <h3 class="flip-box-header">Second Trimister</h3>
          
           
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image:linear-gradient(to top right,rgba(155, 90, 90, 0.2),rgba(0,0,0,0.8)), url('https://images.ctfassets.net/6m9bd13t776q/4b7D1OeW4PChnyiuApZjw/db367d15c4d1a8ccec0954425aee9f5a/exercise-pergnancy-healthy-baby-950x1152.jpg?q=75&w=475');">
          <div class="inner color-white">
            
            <p> Weddings are a huge step women take in every aspects of their life, including health.</p>
            <button class="flip-box-button">
              <a href="{{ url_for('secondtrimister') }}">Learn More</a> </button>
            
          </div>
        </div>
      </div>
      </div>
      <div class="box-item">
      <div class="flip-box">
        <div class="flip-box-front text-center filter-" style="background-image:linear-gradient(to top right,rgba(155, 90, 90, 0.2),rgba(0,0,0,0.8)), url('https://images.squarespace-cdn.com/content/v1/564f065de4b07b939908bcf8/1615552526279-75TRD5N4WKOW84T03AW8/gravid%2C+vekter.jpg');">
          <div class="inner color-white">
            <h3 class="flip-box-header">Third Trimister</h3>
            
           
          </div>
        </div>
        <div class="flip-box-back text-center" style="background-image: linear-gradient(to top right,rgba(155, 90, 90, 0.2),rgba(0,0,0,0.8)),url('https://images.squarespace-cdn.com/content/v1/564f065de4b07b939908bcf8/1615552526279-75TRD5N4WKOW84T03AW8/gravid%2C+vekter.jpg');">
          <div class="inner color-white">
            <p>Having a complete family is a dream of every woman. Even if it seems tough right now, join the likes of you and trust the process.</p>
            <button class="flip-box-button"><a href="{{ url_for('thirdtrimister') }}">Learn More</a> </button>
          </div>
        </div>
      </div>
      </div>
  </div>
  
  </div>
  </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about about-inner">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-4 d-flex align-items-center justify-content-center about-img">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="4000"  style="width: 1000px; height: 800px;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                   <iframe width="670" height="420" src="https://www.youtube.com/embed/Nx_tAkI4O7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
                       </div>
                <div class="carousel-item">
                  <iframe width="670" height="420" src="https://www.youtube.com/embed/XzdvyNR2w00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                  <iframe width="670" height="420" src="https://www.youtube.com/embed/aCx0Pgb8X0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                <iframe width="670" height="420" src="https://www.youtube.com/embed/S3xXurLpfDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
              <iframe width="670" height="420" src="https://www.youtube.com/embed/UA-Tk9qlG9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
              <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->
            </div>
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0 shift">
            <h3 data-aos="fade-up" class="high">BASIC FACTS</h3>
            <p data-aos="fade-up" data-aos-delay="100">
                The following is a list of discriminatory acts you may come across among your peers, at home, at school or in the workplace.           </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="fas fa-book-reader" style="user-select: auto;"></i>
                <h4>Foods to Improve Baby's Brain During Pregnancy </h4>
               
              </div>
             
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="fas fa-book-reader" style="user-select: auto;"></i>
                  <h4>Worst Foods To Avoid When Pregnant </h4>
                 
                </div>
                
                  <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <i class="fas fa-book-reader" style="user-select: auto;"></i>
                    <h4>Exercises In Pregnancy</h4>
                  </div>
                  
                  
                 
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="fas fa-book-reader" style="user-select: auto;"></i>
                <h4>Best Pregnancy Lower Back Pain Relief Exercises</h4>
               
              </div>
            
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <i class="fas fa-book-reader" style="user-select: auto;"></i>
                  <h4>Prenatal Development: What Babies Learn in the Womb
                </h4>
                  
                 
                </div>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   
    <section id="team" class="team" >
      
    <!-- End Services Section -->



    <!-- ======= F.A.Q Section ======= -->  <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Articles</h2>
          <p>Check out the great services we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">7 Nutritious Fruits You’ll Want to Eat During Pregnancy</a></h4>
              <p class="description">Benefits of eating fruit during pregnancy
                When you’re pregnant, it’s important to eat nutritious food and avoid empty calories. In fact, if you eat mostly junk food during your pregnancy, you may be setting up your baby for a lifelong preference for fat and sugar...<a href=" https://www.healthline.com/health/pregnancy/best-fruits-to-eat"> Read More</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">Which Indian food is good for pregnancy?            </a></h4>
              <p class="description">Although the phrase “balanced diet” is so commonly used in our daily lives, very few of us actually know what it means. This is simply because we are unaware of what a balanced diet should ...   <a href="https://www.tarladalal.com/article-indian-food-chart-for-pregnancy-216">Read More</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">Keep fit during pregnancy </a></h4>
              <p class="description"> A woman’s body undergoes a lot of change during pregnancy. However, these changes differ from person to person, depending on their bodies. Some symptoms of pregnancy last for several weeks or months, ...   <a href="https://indianexpress.com/article/lifestyle/fitness/keep-fit-during-pregnancy-with-these-safe-and-easy-exercises-5693984/">Read More</a></p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box icon-box-inner">
              <div class="icon"><i class="far fa-newspaper"></i></div>
              <h4 class="title"><a href="">Pregnancy dos and don’ts for each trimester </a></h4>
              <p class="description">A lot happens during the first three months. During this trimester, your baby grows faster than at any other time. By six weeks, a heartbeat can usually be heard and by the end of week ... <a href="https://indianexpress.com/article/parenting/health-fitness/pregnancy-dos-donts-healthy-pregnancy-gynae-5517372/">Read More</a></p>
            </div>
          </div>
        
          


        </div>

      </div>
    </section>
   <!-- End Team Section -->

  

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Contact us the get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 style="font-size: 35px;">Nazakat</h3>
            <p style="font-size: 25px;">
              Kattankulathur<br>
              Chennai-603203 <br><br>
              <strong>Phone:</strong> 6392007344<br>
              <strong>Email:</strong> samy.53.ab@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 30px;">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 30px;">Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Breast Cancer Prediction and Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Cervical Cancer Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Chatroom</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">ChatBot</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-size: 25px;">Information pages for women of all ages</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="font-size: 30px;">Our Social Networks</h4>
            <p style="font-size: 25px;">Our social networks' handles are given as follows</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright" style="font-size: 25px;">
        &copy; Copyright <strong><span>Nazakat</span></strong>. All Rights Reserved
      </div>
      <div class="credits" style="font-size: 25px;">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a style="font-size: 25px;">Team La Femme</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>